.text-muted, p, td {
    color: #888888;
}

h1, h2, h3, h4, h5, b,
.font-weight-bold {
    color: $dark !important;
}

.font-weight-bold, b {
    font-weight: 600 !important;
}

.bg-primary, .badge-primary {
    background-color: $primary !important;
}

.btn-success {
    background-color: $success !important;
}
.wrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.sideNav nav {
    width: 100%;
    background-color: $success;
}

.sideNav .logo {
    // padding: 10px;
    padding: 20px 0px;
    background-color: red;
    width: 100%;
}

.content {
    width: 140% !important;
    margin-left: -5%;
}

.sideNav svg {
    font-size: 30px;
    margin-left: 10px;
}

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal,
    "success": $success
);

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';