.card-statistic {
  background-color: $success-2 !important;
  .card-body {
    padding: 0.5rem !important;
  }
}

.recharts-legend-wrapper {
  bottom: 5px !important;
}

.ticket {
  height: 290px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) { 
  .recharts-wrapper {
    overflow-x: scroll;
    width: 100% !important;
  }
}